body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f4f4;
}

header {
  background: green;
  color: white;
  text-align: center;
  padding: 20px;
}

nav {
  margin-top: 10px;
}

nav a {
  color: white;
  margin: 10px;
  text-decoration: none;
  font-weight: bold;
}

.section {
  background: white;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}

button {
  padding: 10px;
  border: none;
  background: green;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: darkgreen;
}

.galeria {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.foto {
  background: #e0ffe0;
  padding: 20px;
  border-radius: 10px;
  flex: 1;
  text-align: center;
  min-width: 100px;
}

footer {
  text-align: center;
  background: #222;
  color: white;
  padding: 10px;
}